'editor':
  'showIndentGuide': true
  'fontFamily': 'Source Code Pro'
'core':
  'themes': [
    'polychrome-ui'
    'polychrome-syntax'
  ]
  'hideGitIgnoredFiles': true
  'disabledPackages': [
    'exception-reporting'
    'metrics'
  ]
'spell-check':
  'grammars': [
    'text.plain'
    'source.gfm'
    'text.git-commit'
  ]
'welcome':
  'showOnStartup': false
